Repository Kuadrant/testsuite, pull requests merged in 2025-03, with the labels that each got.

#640 Add pytest smoke target
  Makefile
  pyproject.toml
  testsuite/tests/singlecluster/authorino/identity/auth/test_auth_identity.py
  testsuite/tests/singlecluster/gateway/test_authpolicy_attached_gateway.py
  testsuite/tests/singlecluster/gateway/test_basic.py
  testsuite/tests/singlecluster/gateway/test_dns.py
  testsuite/tests/singlecluster/limitador/test_basic_limit.py
Labels: refactor

#637 D&O section target tests
  testsuite/kuadrant/policy/authorization/auth_policy.py
  testsuite/kuadrant/policy/rate_limit.py
  testsuite/tests/singlecluster/defaults/test_section_targeting.py
  testsuite/tests/singlecluster/overrides/test_multiple_rate_limit.py
  testsuite/tests/singlecluster/overrides/test_section_targeting.py
Labels: Test case

#638 Add tests for D&O merge strategy
  testsuite/kuadrant/policy/__init__.py
  testsuite/kuadrant/policy/authorization/auth_policy.py
  testsuite/kuadrant/policy/rate_limit.py
  testsuite/tests/singlecluster/defaults/merge/__init__.py
  testsuite/tests/singlecluster/defaults/merge/conftest.py
  testsuite/tests/singlecluster/defaults/merge/same_target/__init__.py
  testsuite/tests/singlecluster/defaults/merge/same_target/conftest.py
  testsuite/tests/singlecluster/defaults/merge/same_target/test_ab_strategy.py
  testsuite/tests/singlecluster/defaults/merge/same_target/test_ba_startegy.py
  testsuite/tests/singlecluster/defaults/merge/test_gateway_default_merge.py
  testsuite/tests/singlecluster/overrides/merge/__init__.py
  testsuite/tests/singlecluster/overrides/merge/conftest.py
  testsuite/tests/singlecluster/overrides/merge/same_target/__init__.py
  testsuite/tests/singlecluster/overrides/merge/same_target/conftest.py
  testsuite/tests/singlecluster/overrides/merge/same_target/test_ab_strategy.py
  testsuite/tests/singlecluster/overrides/merge/same_target/test_ba_startegy.py
  testsuite/tests/singlecluster/overrides/merge/test_gateway_override_merge.py
Labels: Test case

#649 Add backoff to the health-check tests
  testsuite/kuadrant/policy/dns.py
Labels: bug, DNS

#654 Add assertions to apply() and modify_and_apply() methods
  testsuite/kubernetes/__init__.py
Labels: enhancement, refactor
